<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RecordingBooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RecordingBooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add
        name="Microsoft SQL Server Compact Data Provider"
        invariant="System.Data.SqlServerCe.3.5"
        description=".NET Framework Data Provider for Microsoft SQL Server Compact"
        type="System.Data.SqlServerCe.SqlCeProviderFactory,&#xD;&#xA;          System.Data.SqlServerCe,&#xD;&#xA;          Version=3.5.1.0,&#xD;&#xA;          Culture=neutral,&#xD;&#xA;          PublicKeyToken=89845dcd8080cc91"




      />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="RecordingBooth.Properties.Settings.RecordingsDataConnectionString"
      connectionString="Data Source=RecordingsData.sdf;Password=xxxx"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <applicationSettings>
    <RecordingBooth.Properties.Settings>
      <setting name="DbConnectionString" serializeAs="String">
        <value>dummyConnection</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>xxxx</value>
      </setting>
      <setting name="AdminTouchRadius" serializeAs="String">
        <value>60</value>
      </setting>
    </RecordingBooth.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <RecordingBooth.Properties.Settings>
      <setting name="MaxRecordingTime" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="OrganizationName" serializeAs="String">
        <value>(Client Organization)</value>
      </setting>
      <setting name="RecordingsLibraryPath" serializeAs="String">
        <value>c:\RecordingsLibrary</value>
      </setting>
      <setting name="RecordingLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UserAgreementPath" serializeAs="String">
        <value>Resources\UserAgreement.xaml</value>
      </setting>
      <setting name="WelcomeTextPath" serializeAs="String">
        <value>Resources\WelcomeText.xaml</value>
      </setting>
      <setting name="CustomSettingsPath" serializeAs="String">
        <value>Resources\CustomSettings.xml</value>
      </setting>
    </RecordingBooth.Properties.Settings>
  </userSettings>
</configuration>