<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RecordingLibrary.Properties.Settings.RecordingsDataConnectionString"
            connectionString="Data Source=|DataDirectory|\RecordingsData.sdf;Password=xxxx"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>